@{
    ViewData["Title"] = "Home Page";
}
@model SurfaceViewModel
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row">
    <div class="col">
        <div>
            <form asp-action="CalculateSurface">
                <div class="row">
                    <div class="col">
                        <label for="inputExpression">Expression</label>
                        <input type="text" class="form-control" id="inputExpression" name="Expression" value="@ViewBag.SurfaceData.Expression" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputXStart">X Start</label>
                        <input type="text" class="form-control" id="inputXStart" name="XStart" value="@ViewBag.SurfaceData.XStart" />
                    </div>
                    <div class="col">
                        <label for="inputXEnd">X End</label>
                        <input type="text" class="form-control" id="inputXEnd" name="XEnd" value="@ViewBag.SurfaceData.XEnd" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <label for="inputYStart">Y Start</label>
                        <input type="text" class="form-control" id="inputYStart" name="YStart" value="@ViewBag.SurfaceData.YStart" />
                    </div>
                    <div class="col">
                        <label for="inputYEnd">Y End</label>
                        <input type="text" class="form-control" id="inputYEnd" name="YEnd" value="@ViewBag.SurfaceData.YEnd" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="row">
        <div class="col">
            <div id="pythonResult">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="simpsonResult">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="graphImage">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-6">
            <div id="chart_div" class="justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <script type="text/javascript">

                google.charts.load('current', { 'packages': ['corechart'] });

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    $.getJSON("/Home/GetChartData",
                        jsonData => {

                            var data = new google.visualization.DataTable(jsonData);

                            // Set chart options
                            var options = {
                                'title': 'Threads time',
                                'width': 600,
                                'height': 400
                            };

                            // Instantiate and draw our chart, passing in some options.
                            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                            chart.draw(data, options);


                            $.getJSON("/Home/GetSimpsonResult",
                                jsonResult => {
                                    document.getElementById("simpsonResult").innerText = "Simpson method: " + jsonResult;
                                });
                        });

                    $.getJSON("/Home/GetPythonResult",
                        jsonData => {
                            console.log(jsonData)
                            $.ajax({
                                url: "/Home/GetGraphImage",
                                dataType: "html"
                            }).done(result => $("#graphImage").html(result));
                            $("#pythonResult").text("Python: " + JSON.parse(jsonData));
                        });
                }
            </script>
        </div>
    </div>
}
